.container {
  text-align: center;
}
.title {
  color: rgb(11, 88, 114);
}
.form {
  max-width: 400px;
  margin: 0 auto;
}
.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.btn {
  align-self: flex-start;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ecf0f3;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px #fff;
}
.input {
  background: #ecf0f3;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px #fff;
  border: none;
  height: 40px;
}
input::placeholder {
  font-weight: 400;
  font-size: 12px;
  opacity: 0.5;
  color: rgb(11, 88, 114);
}
.btn {
  align-self: flex-start;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #ecf0f3;
  box-shadow: 6px 6px 6px #cbced1, -2px -2px 18px #fff;
  color: black;
  font-weight: 500;
  font-size: 12px;
}
.btn:hover,
.btn:focus {
  background-color: rgb(7, 57, 74);
  color: white;
}
.paragraf {
  display: flex;
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
}
