.contactElements {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 14px;
  gap: 14px;
}

.itemButton {
  align-self: flex-start;
  /* width: 100px; */
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #3f51b5;
  box-shadow: 6px 6px 6px #cbced1, -2px -2px 18px #fff;
  color: white;
  font-weight: 500;
  font-size: 12px;
  margin-left: auto;
  margin: 0 auto;
}
