.contactElements {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 14px;
}

.itemName {
  font-weight: 500;
  color: rgb(7, 57, 74);
}
.itemName::before {
  content: '\2055';
  color: #00ace4;
  margin-left: 10px;
  display: inline-block;
  width: 10px;
}
.itemNumber {
  /* position: absolute;
  left: 180px; */
  text-align: center;
}
.buttonForm {
  align-self: flex-start;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #ecf0f3;
  box-shadow: 6px 6px 6px #cbced1, -2px -2px 18px #fff;
  color: black;
  font-weight: 500;
  font-size: 12px;
  /* margin-left: auto; */
}
.buttonForm:hover,
.buttonForm:focus {
  background-color: rgb(7, 57, 74);
  color: white;
}
