.form {
  max-width: 600px;
  min-width: 280px;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  color: black;
  background-color: white;
}
.labelText {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
}
.imputForm {
  width: 70%;
  background: #ecf0f3;
  border: 1px solid transparent;
  border-radius: 5px;
  height: 40px;
  outline: none;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px #fff;
  text-indent: 20px;
}
input::placeholder {
  font-weight: 500;
  font-size: 14px;
  opacity: 0.5;
  color: rgb(11, 88, 114);
}
.buttonForm {
  align-self: flex-start;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #ecf0f3;
  box-shadow: 6px 6px 6px #cbced1, -2px -2px 18px #fff;
  color: black;
  font-weight: 500;
  font-size: 12px;
}
.buttonForm:hover,
.buttonForm:focus {
  background-color: rgb(7, 57, 74);
  color: white;
}
