.container {
  display: flex;
  align-items: center;
  gap: 12px;
}
.userName {
  font-weight: 400;
  color: rgb(7, 57, 74);
}
.button {
  align-items: center;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #ecf0f3;
  box-shadow: 6px 6px 6px #cbced1, -2px -2px 18px #fff;
  color: black;
  font-weight: 500;
  font-size: 12px;
}
.button:hover,
.button:focus {
  background-color: #833ab4;
  color: white;
}
.avatar {
  border-radius: 50%;
}
